<h1>
  <%= @the_property.prop_name %> details
</h1>

<div>
  <div>
    <a href="/">
      Go back
    </a>
  </div>

  <div>
    <a href="/delete_property/<%= @the_property.id %>">
      Delete property
    </a>
  </div>
</div>

<div>
  <table border="1">
    <tr>
      <td rowspan="3">
        <img height="100" width="100" src="<%= @the_property.thumbnail %>">
      </td> 

      <td>
        <%= @the_property.prop_name %>
      </td>

      <td rowspan="2" colspan="3" width="100" style="text-align: center;">
        0
      </td>

      <tr>
        <td>
          <%= @the_property.location_description %>
        </td>
      </tr>

      <tr>
        <td>
          <%= @the_property.size_sqft %>sq ft
        </td>

        <td>
          Thumb1 up
        </td>
        <td>
          Thumb2 up
        <td>
          Thumb3 up 
        </td>
      </tr>
    </tr>
  </table> 
</div>    






    
