<div>
<form action="/modify_score/<%= @the_property.scores.first.id %>"  method="post" >  <table class="table table-bordered">
  <tr>
    <td rowspan="3">
      <img height="400" width="400" src="<%= @the_property.thumbnail %>">
    </td> 

    <td colspan="2">
      <a href="/properties/<%= @the_property.id %>">
        <%= @the_property.prop_name %>
      </a>
    </td>

    <td rowspan="2" colspan="3">
      Overall Score: <%=@the_property.scores.where({ :user_id => @current_user.id }).first.overall_score%>
    </td> 

    <tr>
      <td colspan="2">
        <%= @the_property.location_description %>
      </td>

    </tr>

    <tr>
      <td>
        From $<%= @the_property.area_rent %>
      </td>
      <td>
        <%= @the_property.size_sqft %> - <%= @the_property.size_sqft %> sq ft
      </td>
    

      <td>
        <% if @the_property.scores.where({ :user_id => @current_user.id }).where({ :user_id => @current_user.id }).first.thumb1 == true %>
          <input type="checkbox" checked = "checked" id="thumb1_box" name="query_thumb1" value= true>
        <% else %>
          <input type="checkbox" id="thumb1_box" name="query_thumb1" value= true>
        <% end%>
        <label for="thumb1_box">Thumb Up</label>
      </td>

      <td>
        <% if @the_property.scores.where({ :user_id => @current_user.id }).where({ :user_id => @current_user.id }).first.thumb1 == true %>
          <input type="checkbox" checked = "checked" id="thumb2_box" name="query_thumb2" value= true>
        <% else %>
          <input type="checkbox" id="thumb2_box" name="query_thumb2" value= true>
        <% end%>

        <label for="thumb2_box">Thumb Up</label>
      <td>
        <% if @the_property.scores.where({ :user_id => @current_user.id }).where({ :user_id => @current_user.id }).first.thumb1 == true %>
          <input type="checkbox" checked = "checked" id="thumb3_box" name="query_thumb3" value= true>
        <% else %>
          <input type="checkbox" id="thumb3_box" name="query_thumb3" value= true>
        <% end%>
        <label for="thumb3_box">Thumb Up</label> 
      </td>
    </tr>
  </table> 
</div>    


      <div>
        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @current_user.id%>">
        <input type="hidden" id="prop_id_box" name="query_prop_id" value="<%= @the_property.id %>">
      </div>




      <button>
        Submit
      </button>



      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <label for="public_transport_connectivity_box">
                Public transport connectivity : <%=@the_property.scores.where({ :user_id => @current_user.id }).where({ :user_id => @current_user.id }).first.public_transport_connectivity%>
              </label>

            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div>
                <label for="walking_distance_to_an_underground_station_box">
                  Walking distance to an underground station
                </label>

                <input type="text" id="walking_distance_to_an_underground_station_box" name="query_walking_distance_to_an_underground_station" value="<%=@the_property.scores.where({ :user_id => @current_user.id }).first.walking_distance_to_an_underground_station%>">
              </div>

              <div>
                <label for="connectivity_to_several_tube_lines_box">
                  Connectivity to several tube lines
                </label>

                <input type="text" id="connectivity_to_several_tube_lines_box" name="query_connectivity_to_several_tube_lines" value="<%=@the_property.scores.where({ :user_id => @current_user.id }).first.connectivity_to_several_tube_lines%>">
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Private Transport Connectivity : <%=@the_property.scores.where({ :user_id => @current_user.id }).first.private_transport_connectivity%>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div>
                <label for="access_to_major_airports_box">
                  Access to major airports
                </label>
                <input type="text" id="access_to_major_airports_box" name="query_access_to_major_airports" value="<%=@the_property.scores.where({ :user_id => @current_user.id }).first.access_to_major_airports%>">
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Local Amenities : <%=@the_property.scores.where({ :user_id => @current_user.id }).first.local_amenities%>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div>
                <label for="gyms/personal_training/sports_venues_box">
                  Gyms/personal training/sports venues
                </label>

                <input type="text" id="gyms/personal_training/sports_venues_box" name="query_gyms/personal_training/sports_venues" value="<%=@the_property.scores.where({ :user_id => @current_user.id }).first.gyms_personal_training_sports_venues%>">
              </div>

              <div>
                <label for="restaurants_box">
                  Restaurants
                </label>

                <input type="text" id="restaurants_box" name="query_restaurants" value="<%=@the_property.scores.where({ :user_id => @current_user.id }).first.restaurants%>">
              </div>

              <div>
                <label for="bars_box">
                  Bars
                </label>

                <input type="text" id="bars_box" name="query_bars" value="<%=@the_property.scores.where({ :user_id => @current_user.id }).first.bars%>">
              </div>

              <div>
                <label for="cafes_nearby_box">
                  Cafes nearby
                </label>

                <input type="text" id="cafes_nearby_box" name="query_cafes_nearby" value="<%=@the_property.scores.where({ :user_id => @current_user.id }).first.cafes_nearby%>">
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Building Amenities : <%=@the_property.scores.where({ :user_id => @current_user.id }).first.building_amenities%>
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div>
                <label for="communal_roof_terraces_box">
                  Communal roof terraces
                </label>

                <input type="text" id="communal_roof_terraces_box" name="query_communal_roof_terraces" value="<%=@the_property.scores.where({ :user_id => @current_user.id }).first.communal_roof_terraces%>">
              </div>

              <div>
                <label for="private_roof_terraces_box">
                  Private roof terraces
                </label>

                <input type="text" id="private_roof_terraces_box" name="query_private_roof_terraces" value="<%=@the_property.scores.where({ :user_id => @current_user.id }).first.private_roof_terraces%>">
              </div>

              <div>
                <label for="cycle_provisions_box">
                  Cycle provisions
                </label>

                <input type="text" id="cycle_provisions_box" name="query_cycle_provisions" value="<%=@the_property.scores.where({ :user_id => @current_user.id }).first.cycle_provisions%>">
              </div>

              <div>
                <label for="concierge_service_box">
                  Concierge service
                </label>

                <input type="text" id="concierge_service_box" name="query_concierge_service" value="<%=@the_property.scores.where({ :user_id => @current_user.id }).first.concierge_service%>">
              </div>

              <div>
                <label for="cafe_box">
                  Cafe
                </label>

                <input type="text" id="cafe_box" name="query_cafe" value="<%=@the_property.scores.where({ :user_id => @current_user.id }).first.cafe%>">
              </div>

              <div>
                <label for="dedicated_tenant_entrance_or_reception_desk_box">
                  Dedicated tenant entrance or reception desk
                </label>

                <input type="number" id="dedicated_tenant_entrance_or_reception_desk_box" name="query_dedicated_tenant_entrance_or_reception_desk" value="<%=@the_property.scores.where({ :user_id => @current_user.id }).first.dedicated_tenant_entrance_or_reception_desk%>">
              </div>
            </div>
          </div>
        </div>


        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Building Infrastructure : <%=@the_property.scores.where({ :user_id => @current_user.id }).first.building_infrastructure %>
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div>
                <label for="smart_building_infrastructure_box">
                  Smart building infrastructure
                </label>

                <input type="number" id="smart_building_infrastructure_box" name="query_smart_building_infrastructure" value="<%=@the_property.scores.where({ :user_id => @current_user.id }).first.smart_building_infrastructure%>">
              </div>
            </div>
          </div>
        </div>


        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Staff Impact : <%=@the_property.scores.where({ :user_id => @current_user.id }).first.staff_impact%>
            </button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div>
                <label for="natural_light_box">
                  Natural light
                </label>

                <input type="number" id="natural_light_box" name="query_natural_light" value="<%=@the_property.scores.where({ :user_id => @current_user.id }).first.natural_light%>">
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              Flexibility : <%=@the_property.scores.where({ :user_id => @current_user.id }).first.flexibility%>
            </button>
          </h2>
          <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div>
                <label for="ability_to_expand_box">
                  Ability to expand
                </label>

                <input type="number" id="ability_to_expand_box" name="query_ability_to_expand" value="<%=@the_property.scores.where({ :user_id => @current_user.id }).first.ability_to_expand%>">
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              Image/Brand/Profile : <%=@the_property.scores.where({ :user_id => @current_user.id }).first.image_brand_profile%>
            </button>
          </h2>
          <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div>
                <label for="ability_to_brand_building_box">
                  Ability to brand building
                </label>

                <input type="number" id="ability_to_brand_building_box" name="query_ability_to_brand_building" value="<%=@the_property.scores.where({ :user_id => @current_user.id }).first.ability_to_brand_building%>">
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingNine">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
              Competitor/Client Access : <%=@the_property.scores.where({ :user_id => @current_user.id }).first.competitor_client_access%>
            </button>
          </h2>
          <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div>
                <label for="proximity_to_clients_box">
                  Proximity to clients
                </label>

                <input type="number" id="proximity_to_clients_box" name="query_proximity_to_clients" value="<%=@the_property.scores.where({ :user_id => @current_user.id }).first.proximity_to_clients%>">
              </div>

              <div>
                <label for="proximity_to_competitors_box">
                  Proximity to competitors
                </label>

                <input type="number" id="proximity_to_competitors_box" name="query_proximity_to_competitors" value="<%=@the_property.scores.where({ :user_id => @current_user.id }).first.proximity_to_competitors%>">
              </div>
            </div>
          </div>
        </div>






              

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
              Sustainability/Wellness : <%=@the_property.scores.where({ :user_id => @current_user.id }).first.sustainability_wellness%>
            </button>
          </h2>
          <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              
            <div>
                <label for="epc_box">
                  Epc
                </label>

                <input type="number" id="epc_box" name="query_epc" value="<%=@the_property.scores.where({ :user_id => @current_user.id }).first.epc%>">
              </div>

              <div>
                <label for="breeam_box">
                  Breeam
                </label>

                <input type="number" id="breeam_box" name="query_breeam" value="<%=@the_property.scores.where({ :user_id => @current_user.id }).first.breeam%>">
              </div>
            </div>
          </div>
        </div>



        <div class="accordion-item">
          <h2 class="accordion-header" id="headingEleven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
              Deliverability and Specification : <%=@the_property.scores.where({ :user_id => @current_user.id }).first.deliverability_and_specification%>
            </button>
          </h2>
          <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div>
                <label for="specification_box">
                  Specification
                </label>

                <input type="number" id="specification_box" name="query_specification" value="<%=@the_property.scores.where({ :user_id => @current_user.id }).first.specification%>">
              </div>

              <div>
                <label for="ability_to_influence_design_box">
                  Ability to influence design
                </label>

                <input type="number" id="ability_to_influence_design_box" name="query_ability_to_influence_design" value="<%=@the_property.scores.where({ :user_id => @current_user.id }).first.ability_to_influence_design%>">
              </div>

              <div>
                <label for="landlord_credibility_box">
                  Landlord credibility
                </label>

                <input type="number" id="landlord_credibility_box" name="query_landlord_credibility" value="<%=@the_property.scores.where({ :user_id => @current_user.id }).first.landlord_credibility%>">
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwelve">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
              Timing : <%=@the_property.scores.where({ :user_id => @current_user.id }).first.timing%>
            </button>
          </h2>
          <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div>
                <label for="pc_date_box">
                  Pc date
                </label>

                <input type="number" id="pc_date_box" name="query_pc_date" value="<%=@the_property.scores.where({ :user_id => @current_user.id }).first.pc_date%>">
              </div>

              <div>
                <label for="early_access_box">
                  Early access
                </label>

                <input type="number" id="early_access_box" name="query_early_access" value="<%=@the_property.scores.where({ :user_id => @current_user.id }).first.early_access%>">
              </div>
            </div>
          </div>
        </div>



      <div>
        <label for="comments_box">
          Comments
        </label>

        <textarea id="comments_box" name="query_comments" rows="3"></textarea>
      </div>

      


    </form>
  </div>
</div>
