<style>
h1 {
  text-align: center;
}
</style>
<h1><%= @current_user.company %></h1>
<div>
<form action="/analyze">
<input type="submit" value="Aanalyze">
</form>
</div>
<div>
    <table class="table table-bordered">

      <% @list_of_properties.each do |a_property| %>
        <tr>
          <td rowspan="3">
            <img height="250" width="250" src="<%= a_property.thumbnail %>">
          </td> 

          <td colspan="2">
            <a href="/properties/<%= a_property.id %>">
              <%= a_property.prop_name %>
            </a>
          </td>

          <td rowspan="2" colspan="3">
            Overall Score:<%=a_property.scores.first.overall_score%>
          </td> 

          <tr>
            <td colspan="2">
              <%= a_property.location_description %>
            </td>

          </tr>

          <tr>
            <td>
              From $<%= a_property.area_rent %>
            </td>
            <td>
              <%= a_property.size_sqft %> - <%= a_property.size_sqft %> sq ft
            </td>

            <td>
              <% if a_property.scores.first.thumb1 == true %>
                <img src="/Thumb_Up.png">
              <% else %>
                <img src="/Thumb.png">
              <% end %>
            </td>

            <td>
              <% if a_property.scores.first.thumb2 == true %>
                <img src="/Thumb_Up.png">
              <% else %>
                <img src="/Thumb.png">
              <% end %>
            </td>

            <td>
              <% if a_property.scores.first.thumb3 == true %>
                <img src="/Thumb_Up.png">
              <% else %>
                <img src="/Thumb.png">
              <% end %>
            </td>


          </tr>

          


        </tr>

      <% end %>
    </table>
</div>
